<template name="stopwatch">
<head>
<style>
  .stopwatch {
    display: inline-block;
    background-color: white;
    border: 1px solid #eee;
    padding: 5px;
    margin: 5px;
  }
  .stopwatch span {
    font-weight: bold;
    display: block;
  }
  .stopwatch a {
    padding-right: 5px;
    text-decoration: none;
  }
</style>

</head>
<body>
<!-- <h2>Basic example; update every 1 ms</h2>

<p>click <code>start</code> to start a stopwatch</p>

<pre>
var elems = document.getElementsByClassName("basic");

for (var i=0, len=elems.length; i&lt;len; i++) {
  new Stopwatch(elems[i]);
}
</pre>
<div class="basic stopwatch"></div>
<div class="basic stopwatch"></div> -->

<hr>
<h2>Analytics</h2>



<!-- <pre>
var b = document.getElementById("b-timer");
bTimer = new Stopwatch(b, {delay: 100});
bTimer.start();
</pre>
<div class="stopwatch" id="b-timer"></div>100 ms<br> -->

<h4>
C Behavior
</h4>
<div class="stopwatch" id="c-timer"></div>456 ms<br>
</body>
</template>
