<template name="behaviorForm">
    <h2 class="page-header">Create a behavior</h2>
    <form>

        <div class="col-md-3">
            <div class="form-group">
                <label>Behavior Name</label>
                <input type="text" name="behaviorname" class="form-control" placeholder="Behavior">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Category</label>
               <!--  <input type="text" name="category" class="form-control" placeholder="Category"> -->
                <select class="form-control" name="category">
                  <option>duration</option>
                  <option>frequency</option>
              </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>Preferred Shortcut Key</label>
                <input type="text" name="shortcutKey" class="form-control" placeholder="just type any key here or combination ctrl+a">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Timer Type</label>
                <select class="form-control" name="timerType">
                  <option>duration</option>
                  <option>frequency</option>
              </select>
          </div>
      </div>
      <hr>
      <div class="pull-right">
        <button type="submit" class="btn btn-primary">Create Behavior</button>
    </div>
</form>
</template>
